<div class="card h-100 bg-secondary bg-opacity-10">
  <div class="card-body">
    <h4 class="card-title" [class.h5]="repository().archived">
      {{ repository().name }}
    </h4>
    @if (!repository().archived) {
      <p class="card-text">{{ repository().description }}</p>
    }
  </div>
  <div class="card-footer text-center d-flex gap-3 align-items-center">
    <a
      class="card-link btn btn-sm btn-outline-secondary stretched-link flex-shrink-1 flex-grow-1"
      href="{{ repository().html_url }}"
      target="_blank"
    >
      @if (!repository().archived) {
        Voir les sources
        <small><i class="bi bi-box-arrow-up-right"></i></small>
      } @else {
        <i class="bi bi-box-arrow-up-right"></i>
      }
    </a>
    <div>
      @if (!repository().stargazers_count) {
        <i class="bi bi-star"></i>
      }
      @if (repository().stargazers_count) {
        <i class="bi bi-star-fill"></i>
      }
      {{ repository().stargazers_count }}
    </div>
    <div>
      @if (!repository().forks_count) {
        <i class="bi bi-sign-intersection-y"></i>
      }
      @if (repository().forks_count) {
        <i class="bi bi-sign-intersection-y-fill"></i>
      }
      {{ repository().forks_count }}
    </div>
  </div>
</div>
