<div class="card h-100 bg-secondary bg-opacity-10">
  @if (project().image && !project().archived) {
    <div class="ratio ratio-16x9">
      <img
        alt="Aperçu de {{ project().name }}"
        class="card-img-top object-fit-cover"
        src="assets/{{ project().image }}"
      />
    </div>
  }
  <div class="card-body">
    <h4 class="card-title" [class.h6]="project().archived">
      {{ project().name }}
    </h4>
    <ul class="list-inline mb-2">
      @for (technology of project().technologies; track technology) {
        <li class="list-inline-item">
          <span class="badge bg-secondary">{{ technology }}</span>
        </li>
      }
    </ul>
    <p [innerHtml]="project().description" class="card-text fw-light"></p>
  </div>
  @if (project().url) {
    <div class="card-footer text-center d-flex gap-3 align-items-center">
      <a
        class="card-link flex-fill btn btn-sm btn-outline-secondary stretched-link"
        href="{{ project().url }}"
        target="_blank"
      >
        Visiter le site
        <small><i class="bi bi-box-arrow-up-right"></i></small>
      </a>
      @if (project().sources) {
        <a
          class="card-link flex-fill btn btn-sm btn-outline-secondary position-relative z-3 ms-0"
          href="{{ project().sources }}"
          target="_blank"
        >
          Voir les sources
          <small><i class="bi bi-box-arrow-up-right"></i></small>
        </a>
      }
      @if (project().stars) {
        <div>
          <div>
            @if (!project().stars) {
              <i class="bi bi-star"></i>
            }
            @if (project().stars) {
              <i class="bi bi-star-fill"></i>
            }
            {{ project().stars }}
          </div>
        </div>
      }
    </div>
  }
</div>
