<form action="https://v2.convertapi.com/convert/web/to/pdf?Secret=VQde2037yHSP8NIv&download=attachment" enctype="multipart/form-data" method="post">
  <input name="FileName" type="hidden" value="cv_marchal-simon" />
  <input name="ViewportWidth" type="hidden" value="1920" />
  <input name="ViewportHeight" type="hidden" value="1080" />
  <input name="RespectViewport" type="hidden" value="false" />
  <input name="MarginTop" type="hidden" value="0" />
  <input name="MarginRight" type="hidden" value="0" />
  <input name="MarginBottom" type="hidden" value="0" />
  <input name="MarginLeft" type="hidden" value="0" />
  <input name="PageSize" type="hidden" value="a4" />
  <input name="Url" type="hidden" value="https://traskin.github.io/cv.html" />
  <button class="btn btn-sm btn-outline-secondary mx-auto mt-1 mb-2 d-block">
    Télécharger mon CV
  </button>
</form>
